/* Mobile */
@media (max-width:739px) {
 #header-top {
     display: none;
 }
 #container .rows-content{
     display: block;
 }
 #footer .col,  
 #container2 .col,
 #container .col{
     width: 100%;
 }
 #footer .contact-email {
     display: block !important;
 }
 #footer .btn,
 #footer .contact-email input{
    border-radius: 8px ;
 }
}
/* tab */
@media (max-width:768px){
    #header-top {
        display: none;
    }
    #header-bot .bars{
        display: inline-block;
       
    }
    #header-bot .nav,
    #header-bot .nav-bot{
        margin: 0;
        padding: 0;
    }
    #header-bot .container,
    #header-bot .navbar,
    #header-bot .nav-bot,
    #header-bot .navbar ul li {
        display: block;
    }
    #slider .col {
        flex-direction: column;
    }
    #Slider .col-img{
        width: 66.666667%;
    }
    #slider .col-text-content{
        order:2;
        width: 100%;
    }
    
}
@media (max-width:768px) and (min-width:739px) {
.container{
        margin-left: 24px;
        margin-right: 24px;
        max-width: 720px;
}
#container2 .card-body{
    height: 18.9rem;
}
}
@media (min-width:769px) and (max-width:1024px){
    .container{
        margin-left: 32px;
        margin-right: 32px;
        max-width: 960px;
    }
}