*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-weight: lighter !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 18px !important;
    scroll-behavior: smooth;
}
/* Common */
.d-flex{
    display: flex;
justify-content: space-between;
}
.container{
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
}
.text{
    margin: auto;
    padding: 0 12px;
    text-align: center;
    font-size: 18px;
    width: 660px;
    max-width: 100%;
}
.img{
    width: 100%;
}
.text-content{
    padding: 16px;
    }
.heading{
    font-size: 48px;
    margin-bottom: 8px;
}
.p{
    margin-bottom: 16px;
}
/* Start Header */

#header-top{
background-color: #212934;
padding: 8px 0;
height: 40px;
font-size: 12px;
max-width: 100%;

}
#header-top .contact{
display: inline-block;
font-size: 14px;
}
.contact li{
    display: inline-block; 
}
#header-top .nav-icon i,#header-top .contact li a{
    color: #fff;
    text-decoration: none;
    line-height: 24px !important;
    font-size: .9em !important;
}
#header-top .nav-icon i, .contact li a i, #header-top .contact li{
    margin-right:  8px !important;
}
.nav-icon >i{
    cursor: pointer;
}
#header-top .nav-icon{
float: right;

}
#header-top .icon{
    color: #fff;    
}
#header-bot{
padding: 8px 0px;
height: 91px;
max-width: 100%;
z-index: 1;
overflow: hidden;
scroll-behavior: smooth;
}
#header-bot .nav-logo{
display: inline-block;
}
#header-bot .nav-logo a{
    font-size: 48px;
    padding: 5px 0px;
    margin: 0px 16px 8px 0px ;
    color: #59ab6e !important;
    font-weight:bolder !important;     
}
#header-bot .nav-bot{
    width: 550px;
    line-height: 71px;  
}
#header-bot .container{
    display: flex;
    background-color: #fff;
    position: relative ;
    
    
}
#header-bot .navbar ul li{
    display: inline;
}
#header-bot ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding: 8px;
}
#header-bot .nav-logo a{
    text-decoration: none;

}
 #header-bot ul li a:hover{
    color: #59ab6e;
}
#header-bot .bars,
 .nav-icon .icon-bot{
    color: black;
    line-height: 71px; 
    cursor: pointer;
    margin:0 8px;
}
#header-bot .bars{
    display: none;
    float: right;
    font-size: 1.5rem;
}
/* End Header */


/* Content */
#slider{
    background-color: #efefef !important;
}
#slider .carousel-inner {
   margin: auto;
}
#slider .carousel-display{
    display: none;
}
/* tạo hiệu ứng chuyển động fade */
#slider .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
 #slider .prev:hover, #slider .next:hover {
    color: #198754;
  }
#slider .carousel-indicators{
    text-align: center;
    padding-bottom: 20px;
}
 #slider .dot {   
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
 #slider .active, .dot:hover {
    background-color: #59ab6e;
  }
#slider .col{
    display: flex;
    align-items: center;
}

#slider .col-text-content, .col-img{
    padding: 0 12px;
    width: 50% ;
}
#slider .text-success{
    color: #59ab6e;
}
#slider .text-success,
#slider .h1 {
    font-weight: lighter;
    font-size: 48px;
}
#slider .text-success>b{
    font-weight:bolder;
}
#slider .text-content>h3{
    font-size: 30px;
    font-weight: lighter;
}
#slider .img {
    width: 100%
}
#container2 .content,
#container .container{
    padding: 48px 0;
}
#container2{
    background-color:#e9eef5 ;
}

#container2 .col{
    margin-bottom: 24px;
    padding: 0px 12px;
    width: 33.33%;
}
#container2 .d-flex{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#container2 .card-img-top{
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    vertical-align: middle;
width: 100%;
}
#container2 .card-body{
    padding: 16px;
    background-color: #fff;
    width: 100%;
    height: 13.9rem ;
  
}
#container2 .rows .shadow-sm{
    border: 1px solid #cfd6e1;
    border-radius: .25rem;
    
}
#container2 .card-text{
    line-height: 1.4;
    
}
#container2 .text-warning{
    color:yellow
}
#container2 .text-muted{
color: gray;
margin-top: 10px;
}
#container2 .h2{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
#footer .contact,
#footer .rows,
#container2 .rows,
#container .rows-content{
    display: flex;
    flex-wrap: wrap;
}
#container .text-center{
    text-align: center;
    font-size: 1.25rem;
    font-weight:normal;
}
#container .space{
    margin: 16px;
}
.btn{
    background-color: Crimson;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}
  .btn-success{
    background-color: SeaGreen; border-radius: 8px ;
}
#container .img{
border-radius: 50%; 

border: 1px solid #dee2e6;
}  

#container .col{
    padding: 48px !important;
    margin-top: 16px;
    width: 33.3%;
}

/* END content */


/* Footer */
#footer{
    background-color: #212934;
    color: #cfd6e1 !important
}
#footer .contact{
    display: flex;
    justify-content: space-between;
}
#footer .rows{
    margin: -12px;
    display: flex;
    width: 100%;   
}
#footer .col{
    padding-top: 48px;
    padding: 0 12px;
    margin-top: 48px;
    width: 33.3%;
    margin-bottom: 2%;   
}
#footer .col li{
    list-style-type: none;
    padding-top: 10px;
    line-height: 27px !important;
}
#footer .icon{
    padding: 0px 10px;
}
#footer ul li a{
    text-decoration: none;
    color: #cfd6e1 ;
    font-weight: lighter !important;
}
#footer .list-icon li{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #2d343f;
    text-align: center;
    margin-right: 8px;
    line-height: 44px;
    font-size: 1.33333em;
    cursor: pointer;
}

#footer .list-icon li:hover{
    background-color: #fff;
    color: #212934;
}
#footer .col > p{
    padding-bottom: 16px;
    border-bottom: 1px solid #2d343f;
    margin-bottom: 8px;
    font-size: 26px;
}
#footer .line{
    border-bottom: 1px solid #2d343f ;
    margin: 16px;
}
#footer .contact-icon ul li{
    display: inline-block;
}
#footer .copyright{
    min-height: 82px;   
    font-size: 18px;
    padding: 16px 0px;
    
    background-color: #1d242d !important;
}
.copyright>div{
    line-height: 50px;
}
#footer .contact{
    line-height: 69.650px;
    margin-bottom: 16px;
    align-items: center;
}
#footer ul li a:hover{
    color: #59ab6e
    !important;
}
#footer .contact-email{
display: flex;
height: 50px;
    
}
#footer .contact-email input{
width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 18px;
  color: #63717f;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px 0px 0px 8px ;
}
#footer .btn {
    border-radius: 0px 8px 8px 0px ;
}
/* Enđ Footer */
 

